<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/weather.png">
	<link rel= "stylesheet" href="/css/styles.css"/>
	<script src="/js/custom.js"></script>
</head>
<body>
	<div class="main-content"> 
	{{>header}}
	<p> The site was created by Ram to check weather by using mapbox.com and weatherstack.com apis.</p>
		<img class="portrait" src="/img/lady.png"/>
	</div>
	{{>footer}}
</body>

</html>