<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<link rel="icon" href="/img/weather.png">
	<link rel= "stylesheet" href="/css/styles.css"/>
	<script src="/js/custom.js"></script>
</head>
<body>
	<div class="main-content"> 
		{{>header}}
		<p>404::{{pageerror}}</p>
	</div>
	{{>footer}}
</body>

</html>